<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar ASDOS</title>
    <link rel="stylesheet" href="/includes/css/css asdos/daftar-asdos.css">
</head>

<body>
    <div class="navRectangle">
        <nav class="navigationBar">
            <div id="borderNavHomeAsdos">
                <a href="home-asdos.html" class="navigationHomeAsdos">
                    <img src="/includes/images/home icon.png" alt="Navigation Home">
                    <span>Home</span>
                </a>
            </div>
            
            <div id="borderNavProfileAsdos">
                <a href="profile-asdos.html" class="navigationProfileAsdos">
                    <img src="/includes/images/profile navigation icon.png"alt="Navigation Profile Asdos">
                    <span>Profile</span>
                </a>
            </div>

            <div id="borderNavDaftarAsdos">
                <a href="daftar-asdos.html" class="navigationDaftarAsdos">
                    <img src="/includes/images/icon daftar asdos.png"alt="Navigation Daftar Asdos">
                    <span>Daftar</span>
                </a>
            </div>

            <div id="borderNavJadwalAsdos">
                <a href="jadwal-asdos.html" class="navigationJadwalAsdos">
                    <img src="/includes/images/icon jadwal.png"alt="Navigation Jadwal Asdos">
                    <span>Jadwal</span>
                </a>
            </div>

            <div id="borderNavLogOutAsdos">
                <a href="login-asdos.html" class="navigationLogOutAsdos">
                    <img src="/includes/images/log out.png"alt="Navigation Logout Asdos">
                    <span>Logout</span>
                </a>
            </div>
        </nav>
    </div>

    
    <div class="container">
        <h1 id="daftar">Daftar ASDOS</h1>
        <div class="desc-title">
            <p>Sebelum menjadi asisten dosen anda perlu mengupload transkrip nilai semester anda hingga semester ini</p>
        </div>

        <div class="upload-button">
            <button>Upload</button>
        </div>
    </div>
</body>

</html>