body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #46d2b5, #418ba4);
    margin: 0;
    padding: 0;
}

.container {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-left: 25%;
  margin-right: 5%;
  border-radius: 10px;
}

#daftar{
    font-weight: lighter;
     margin-left: 5%;
     margin-right: 5%;
}


.desc-title {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333;
}


.container h1::after {
        content: '';
        display: block;
        width: 60%;
        height: 2px;
        background-color: #EF4C59;
        position: absolute;
        left: 20%;
        margin-top: 10px;
         margin-left: 10%;
        
}



.upload-button {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
}

button {
    display: flex;
    background-color: #c5c8c5;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    margin: 50%;
}

/* Navigation Bar */

.navRectangle{
    animation: transitionIn 0.75s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 50px;
    height: 480px;
    padding: 40px;
    margin-right: 40%;
    margin-top: 95px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    justify-content: flex-start;
}

.navigationHomeAsdos span{
    color: black;
    padding-left: 25px;
    padding-top: -10px;
}

.navigationHomeAsdos{
    text-decoration: none;
    align-self: flex-start;
    
}

.navigationProfileAsdos span{
    color: black;
    padding-left: 25px;
    padding-top: -10px;
}

.navigationProfileAsdos{
    text-decoration: none;
    align-self: flex-start;
}

.navigationProfileAsdos img{
    padding-top: 50px;
    max-height: 50px;
    margin-left: 22px;
}

#borderNavHomeAsdos{
    border: solid #D3D3D3;
    border-radius: 10px;
    margin-bottom: 15px;
}

#borderNavProfileAsdos{
    border: solid #D3D3D3;
    border-radius: 10px;
    padding: 3px;
}

#borderNavProfileAsdos img{
    padding: 0px;
}

#borderNavDaftarAsdos{
    border: solid #D3D3D3;
    border-radius: 10px;
    padding: 3px;
    margin-top: 15px;
}

.navigationDaftarAsdos{
    text-decoration: none;
}

.navigationDaftarAsdos span{
    color: black;
    margin-left: 23px;
}

.navigationDaftarAsdos img{
    max-width: 60px;
    margin-left: 17px;
}

#borderNavJadwalAsdos{
    border: solid #D3D3D3;
    border-radius: 10px;
    padding: 3px;
    margin-top: 15px;
}

.navigationJadwalAsdos{
    text-decoration: none;
}

.navigationJadwalAsdos span{
    color: black;
    margin-left: 20px;
}

.navigationJadwalAsdos img{
    max-width: 50px;
    margin-left: 22px;
}

#borderNavLogOutAsdos{
    border: solid #D3D3D3;
    border-radius: 10px;
    padding: 3px;
    margin-top: 15px;
    padding-top: 10px;
}

.navigationLogOutAsdos{
    text-decoration: none;
}

.navigationLogOutAsdos span{
    color: black;
    margin-left: 20px;
}

.navigationLogOutAsdos img{
    max-width: 50px;
    margin-left: 22px;
}

.container{
    margin-top: -550px;
    height: 550px;
    margin-left: 250px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #eceaea;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    
}

.modal label {
    display: block;
    margin-top: 10px;
}

.modal input {
    display: block;
    margin: 5px auto;
}

.modal button {
    display: block;
    margin: 10px auto;
}

#transkrip{
    margin-left: 60px;
}

#cv{
    margin-left: 60px;
}

#suratLamaran{
    margin-left: 60px;
}

#labelSuratLamaran{
    margin-left: 10px;
}

.classTranskrip{
    margin-bottom: 25px;
}

.classCV{
    margin-bottom: 30px;
}

.classSuratLamaran{
    margin-top: 5px;
    margin-bottom: 30px;
}
