<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Dosen</title>
    <link rel="stylesheet" type="text/css" href="/includes/css/css asdos/home-asdos.css">
    <script>
        function openAsistenDosen() {
            window.location.href = '/AsistenDosen';
        }

        function openMatakuliah() {
            window.location.href = '/Matakuliah';
        }

        function openProfileDosen(){
            window.location.href = "/profil-dosen"
        }
    </script>    
</head>

<body>
    <header>
        <div class="logo">
            <img src="/includes/images/logo-unpar-vector-idngrafis.png" alt="Logo">
        </div>

        <div class="statusUser">
            <button>
                <p>Dosen</p>
            </button>
        </div>
        <div class="profile">
            <img src="/includes/images/profile.png" alt="Profile Picture">
        </div>
    </header>

    <div class="background">
    </div>
    
    <!-- Navigation Bar -->
    <div id="navigator">
        <div class="container">
            <div class="rectangle">
                <a href="#" class="nav-button" onclick="openProfileDosen()">
                    <img src="/includes/images/profile.png" alt="Navigation Profile">
                    <span>
                        Profile
                    </span>
                </a>
                <a href="#" class="nav-button" onclick="openMatakuliah()">
                    <img src="/includes/images/icon task.png" alt="Navigation Daftar Asdos">
                    <span id="textMatakuliah">
                        Mata Kuliah
                    </span>
                </a>
                <a href="#" class="nav-button" onclick="openAsistenDosen()">
                    <img src="/includes/images/icon jadwal.png" alt="Navigation Jadwal">
                    <span>
                        Asisten Dosen
                    </span>
                </a>
                <form method="post" , action="/logout">
                    <button style="border: none; background-color: #fff;" type="submit" class="nav-button">
                        <img src="/includes/images/log out.png" alt="Navigation Log Out">
                        <span>
                            Log out
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Navigation Bar -->
</body>

</html>